body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.wrapper .github {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.github {
  cursor: pointer;
  height: 45px;
  width: 45px;
  color: #000000;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: #ff6b08;
  transition: 1s;
}
.github a {
  width: 0px;
  overflow: hidden;
  transition: 1s;
  text-align: center;
}
.github:hover {
  width: 130px;
  border-radius: 10px;
  background: #ff6b08;
}
.github:hover a {
  padding: 10px;
  width: max-content;
}
.link {
  margin-top: 10px;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  line-height: 16px;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  color: #000000;
}
.icon {
  fill: #000000;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}
